@use 'src/variables' as v;

.skill-switches {
    margin-bottom: 1rem;
}

button {
    height: min(4rem, 80px);
    width: min(7.5rem, 150px);
    background-color: black;
    border-image: none;
    border: 1px solid v.$c2;
    margin: 0 2px;
    font-size: min(1.2rem, 24px);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: v.$c2;
    }
}