@use 'src/variables' as v;

.skill-switches {
    margin-bottom: 1rem;
}

button {
    height: 3.5rem;
    min-width: 6rem;
    background-color: black;
    border-image: none;
    border: 1px solid v.$c2;
    margin: 0 2px;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: v.$c2;
    }
}