@use 'src/variables' as v;
@use 'src/mixins' as m;

.header {
    @include m.d-flex(row, space-between, center);
    @include m.menu-background;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: v.$header-height;
    padding-left: v.$base-padding;
    padding-right: v.$base-padding;
}

.logo {
    height: 72px;
    width: 72px;
    object-fit: cover;
    cursor: pointer;
}