@use 'src/variables' as v;
@use 'src/mixins' as m;

.header {
    @include m.d-flex(row, space-between, center);
    @include m.menu-background;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: v.$header-height;
    padding: 0 v.$base-padding;
    //padding: 0 10%;
}

.logo {
    height: 50%; //72px;
    //width: 72px;
    object-fit: cover;
    cursor: pointer;
}

.section-right {
    height: 100%;
    @include m.d-flex(column, space-evenly, flex-end);

    * {
        padding: 4px;
    }
}


@media screen and (max-width: 650px) {
    .section-right {
        @include m.d-flex(row, flex-end, flex-start);
    }
}