<div class="header">
    <img class="logo" src="./assets/img/Logo_WebDev_72p10w_white.svg" alt="logo">
    <app-menu-nav></app-menu-nav>
   <!--
    <nav>
        <a href="#">Home</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
    -->
    <app-sound-switch></app-sound-switch>
    <app-menu-switch></app-menu-switch>
    <!--<img src="./assets/img/menu_open_white_36dp.svg" alt="" class="menu-icon">-->
</div>