@use 'src/variables' as v;

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: v.$header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: v.$base-padding;
    padding-right: v.$base-padding;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);

    nav {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;

            &:first-child {
                color: v.$c2;
            }

            &::after {
                transition: all 250ms ease;
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 0;
                height: 3px;
                background-color: v.$c1;
            }

            &:hover::after {
                width: 100%;
            }
        }

    }
}

.logo {
    height: 72px;
    width: 72px;
    object-fit: cover;
    cursor: pointer;
}