<footer>
    <div class="left">
        <a routerLink="/imprint" translate>Legal Notice</a>
    </div>
    <div class="right">
        <a href="https://github.com/PokyYoky" target="_blank"><img src="./assets/img/github-fill.png" alt="Link to GitHub" title="Visit me on GitHub" class="logo"></a>
        <a href="https://www.linkedin.com/in/andreas-komor" target="_blank"><img src="./assets/img/linkedin-box-fill.png" alt="Link to LinkedIn" title="Visit me on LinkedIn" class="logo"></a>
        <a href="https://www.xing.com/profile/Andreas_Komor2" target="_blank"><img src="./assets/img/xing-fill.png" alt="Link to Xing" title="Visit me on Xing" class="logo"></a>
    </div>
</footer>