@use 'src/variables' as v;
@use 'src/mixins' as m;

footer {
    @include m.d-flex(row, space-between, center);

    width: 100%;
    height: v.$header-height;
    background-color: rgb(220, 220, 220);

    a {
        text-decoration: none;
    }

    .left {
        padding-left: v.$base-padding;
    }

    .right {
        padding-right: v.$base-padding;

        a {
            padding-left: 40px;
    
            &:link {
                color: rgba(0, 0, 0, 0.9);
            }
    
            &:visited {
                color: rgba(0, 0, 0, 0.7);
            }
    
            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .logo {
        height: 48px;
        width: 48px;
    }
}