
$head-radius: 60px;
.skill-body {
    width: 150px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    margin: calc($head-radius/3) 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;

    .skill-head {
        width: $head-radius;
        height: $head-radius;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        top: calc($head-radius/2*-1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;


        .skill-logo {
            width: calc($head-radius/2);
            height: calc($head-radius/2);
        }
    }
}