$head-radius: 60px;

.skill-body {
    width: 150px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    margin: calc($head-radius/2) 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9rem;
    font-weight: bold;

    .skill-head {
        width: $head-radius;
        height: $head-radius;
        position: absolute;
        background-color: white;
        border-radius: 100%;
        top: calc($head-radius/2*-1);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;


        .skill-logo {
            width: calc($head-radius/2);
            height: calc($head-radius/2);
        }
    }
}

.downrotate {
    animation: animation-out 225ms forwards;
}

.downrotate:hover {
    animation: animation-in 225ms forwards;
}

@keyframes animation-in {
    0% {
        -ms-transform: translate(0, 0) ;
        -webkit-transform: translate(0, 0);
        transform: translateY(0) scale(1.0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);

    }
    50% {
        -ms-transform: translate(0, 1rem);
        -webkit-transform: translate(0, 1rem);
        transform: translateY(1rem) scale(1.1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }
    100% {
        -ms-transform: translate(0, 1rem) rotate(3deg);
        -webkit-transform: translate(0, 1rem) rotate(3deg);
        transform: translateY(1rem) scale(1.2) rotate(3deg);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
}

@keyframes animation-out {
    0% {
        -ms-transform: translate(0, 1rem) rotate(3deg);
        -webkit-transform: translate(0, 1rem) rotate(3deg);
        transform: translateY(1rem) scale(1.2) rotate(3deg);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    50% {
        -ms-transform: translate(0, 1rem);
        -webkit-transform: translate(0, 1rem);
        transform: translateY(1rem) scale(1.1);
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);

    }
    100% {
        -ms-transform: translate(0, 0) ;
        -webkit-transform: translate(0, 0);
        transform: translateY(0) scale(1.0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
    }
}

.wiggle:hover {
    animation: wiggle 225ms forwards ease;
}

@keyframes wiggle {
    0% {
        transform: translate(0, 0);
    }
    15% {
        transform: translate(2px, 0);
    }
    35% {
        transform: translate(-2px, 0);
    }
    55% {
        transform: translate(2px, 0);
    }
    80% {
        transform: translate(-2px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}