@use 'src/variables' as v;
@use 'src/mixins' as m;


.project-card {
    @include m.radius(5px);
    width: 300px;
    height: 200px;
    margin: 10px;
    background-color: transparent;
    //margin: calc($head-radius/3) 5px;
    position: relative;
    color: black;
    font-size: 0.9rem;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);

    .project-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        //filter: saturate(50%) brightness(120%) contrast(100%)
    }

    .hover-only {
        visibility: hidden;
    }

    &:hover .hover-only {
            visibility: visible;
    }

    .overlay {
        @include m.radius(5px);
        @include m.d-flex(column, space-evenly, center);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);

        span {
            padding: 0.5rem 1rem;
            text-align: center;
        }

        .title {
            color: v.$c2;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            margin: 8px 0;
            padding: 10px 20px;
            color: v.$c2;
            background-color: white;
            border: 1px solid v.$c2;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

            &:hover {
                background-color: rgba(v.$c2, 0.8);
                color: rgb(150, 8, 8);
            }
        }
    }
}