<div *ngFor="let project of projects" class="project-card">
    <!-- <div class="skill-head wiggle">
        <img class="skill-logo" [src]="skill.logo" alt="skill-logo">
   </div>
    -->
        <img *ngIf="project.image" class="project-img" src="{{ project.image }}" alt="project {{ project.title }}">
        <div class="overlay hover-only">
            <span class="title">{{ project.title }}</span>
            <span class="desc">{{ project.description }}</span>
            <a *ngIf="project.url" role="button" href="{{ project.url }}" target="_blank">Try out</a>
            <!--<button type="button">Try out</button>-->
        </div>
</div>