@use 'src/variables' as v;

:host {
    width: 80%;
    padding: 3rem 0;
    display: flex;  
    justify-content: space-evenly;
    border-top: 1px solid v.$c1;
}

.story-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}