@use 'src/variables' as v;
@use 'src/mixins' as m;

:host {
    @include m.d-flex(row, space-evenly, stretch);
    padding: 4rem 0;
    border-top: 1px solid v.$c1;
}

.story-body {
    @include m.d-flex(column, flex-start, center);
    width: 20%;
}