@use 'src/variables' as v;

:host ::ng-deep img {
    // position: absolute;
    // top: 0px;
    // right: 0px;
    //opacity: 0;
    //align-self: flex-end;
    animation: fadeIn 2s cubic-bezier(0, .3, .12, 1.8) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        // transform: translate(0, 0);
        // transform: scale(0.6);
        box-shadow: 20px -20px 50px v.$c1;
    }

    85% {
        box-shadow: 0 0 30px v.$c1;
    }

    100% {
        opacity: 1;
        //transform: translate(-15vw, calc(v.$header-height)); //translate(-15vw, 30vh);
        box-shadow: 0 0 20px v.$c1;
    }
}


// @media screen and (max-width: 650px) {
//     @keyframes fadeIn {
//         0% {
//             opacity: 0;
//             //transform: translate(0, 0);
//             //transform: scale(0.6);
//             box-shadow: 20px -20px 50px v.$c1;
//         }

//         85% {
//             box-shadow: 0 0 30px v.$c1;
//         }

//         100% {
//             opacity: 1;
//             //transform: translate(-200px, 400px);
//             //transform: translate(-15vw, 30vh);
//             box-shadow: 0 0 20px v.$c1;
//         }
//     }
// }


// @media screen and (max-width: 500px) {
//     @keyframes fadeIn {
//         0% {
//             opacity: 0;
//             transform: translate(0, 0);
//             transform: scale(0.6);
//             box-shadow: 20px -20px 50px v.$c1;
//         }

//         85% {
//             box-shadow: 0 0 30px v.$c1;
//         }

//         100% {
//             opacity: 1;
//             //transform: translate(-200px, 400px);
//             transform: translate(-15vw, 42vh);
//             box-shadow: 0 0 20px v.$c1;
//         }
//     }
// }