@use 'src/variables' as v;
@use 'src/mixins' as m;

.lang-frame {
    position: absolute;
    top: 4px;
    right: 5px;
    @include m.d-flex(row, center, center);
    color: white;
    font-size: min(0.8rem, 18px);

    .button {
        @include m.d-flex(row, center, center);
        //width: 2rem;
        padding: 0 0.5rem;
        border: 1px solid white;
        border-radius: 4px;
        margin: 0 2px;
        cursor: pointer;
        line-height: 0.8rem;
        transition: all 225ms ease-in-out;

        &:hover {
            border-color: v.$c1;
        }
    }
}

.clicked {
    transform: rotate(7deg);
    background-color: v.$c1_tr;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.8), 1px 1px 4px 3px rgba(255, 255, 255, 1);
}