@use 'src/variables' as v;

.content {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    animation: slideLayout 1s ease-out forwards;
}

.headline {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

@mixin base-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    //min-height: 50%;
    padding: 5px;
}

.cards-frame {
    @include base-frame;
    max-width: 510px;
}

.projects-frame {
    @include base-frame;
    max-width: 660px;
}

.pos-left-up {
    align-self: flex-start;
    margin-bottom: 10rem;
}

.section {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input, textarea {
        margin-bottom: 10px; 
    }

    label {
        margin: 15px 0 5px 0;
    }

    button {
        margin-top: 10px;
        padding: 5px 20px;
        appearance: none;
        background-color: transparent;
        border: 1px solid v.$c1;
        font-size: 20px;
        color: v.$c1;
        align-self: baseline;
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 1s 250ms ease-in;
        text-indent: -100%;
        opacity: 1;
    }
}


@keyframes slideLayout {
    0% {
        transform: translateY(20px);
        background-color: transparent;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        background-color: inherit;
        filter: blur(0px);
        opacity: 1;
    }
}