.content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    animation: slideLayout 1s ease-out forwards;
}

@keyframes slideLayout {
    0% {
        transform: translateY(20px);
        background-color: transparent;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        background-color: inherit;
        filter: blur(0px);
        opacity: 1;
    }
}