<app-header class="header"></app-header>
<div class="content">
  <!-- <div id="page-1" class="page-container"> -->
    Hallo, welcome to my Webpage!
  <!-- </div> -->
  <app-avatar></app-avatar>
  <app-arrow-down></app-arrow-down>
</div>
<div class="content skill-page">
  <p class="headline">MY Skills</p>
  <app-skill-cards class="cards"></app-skill-cards>
</div>
<div class="content project-page">
  <p class="headline">MY Projects</p>
  <app-skill-cards class="cards"></app-skill-cards>
</div>
<!-- <app-skill-page></app-skill-page> -->