@use 'src/variables' as v;
@use 'src/mixins' as m;

.content {
    @include m.d-flex(column, center, center);
    position: relative;
    color: white;

    a {
        text-decoration: none;

        &:link {
            color: v.$c1;
        }

        &:visited {
            text-shadow: 2px 2px rgba(255, 255, 255, 0.7);
        }

        &:hover {
            color: v.$c1_l;
        }
    }
}

.welcome-page {
    @include m.full-size;
    padding-top: calc(v.$header-height/2);
}

.inner-frame {
    @include m.d-flex(column, center, center);
}

.cards-frame {
    @include m.mosaic-order;
    max-width: 510px;
}

.projects-frame {
    @include m.mosaic-order;
    max-width: 660px;
}

.pos-left-up {
    align-self: flex-start;
}

.section {
    @include m.d-flex(row, center, center);

    width: 100%;

    p {
        padding: 80px;
    }
}

.colored {
    color: v.$c1;
    font-size: larger;
}


@keyframes slideLayout {
    0% {
        transform: translateY(20px);
        background-color: transparent;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        background-color: inherit;
        filter: blur(0px);
        opacity: 1;
    }
}


@media screen and (max-width: 650px) {
    .section {
        @include m.d-flex(column, center, center);
    }

    .headline {
        @include m.separator;
        width: 100%;
        padding-top: 3rem;
        text-align: center;
    }

    .skill-page, .project-page, .about-page, .contact-page {
        height: auto;
    }
}