@use 'src/variables' as v;
@use 'src/mixins' as m;

.content {
    @include m.d-flex(column, center, center);

    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    animation: slideLayout 1s ease-out forwards;
    margin: 25% 0;

    a {
        text-decoration: none;

        &:link {
            color: v.$c1;
        }

        &:visited {
            text-shadow: 2px 2px rgba(255, 255, 255, 0.7);
        }

        &:hover {
            color: v.$c1_l;
        }
    }
}


.cards-frame {
    @include m.mosaic-order;
    max-width: 510px;
}

.projects-frame {
    @include m.mosaic-order;
    max-width: 660px;
}

.pos-left-up {
    align-self: flex-start;
    margin-bottom: 10rem;
}

.section {
    @include m.d-flex(row, center, center);

    width: 100%;
    padding: 4rem 0;

    p {
        padding: 80px;
    }
}

.colored {
    color: v.$c1;
    font-size: larger;
}


@keyframes slideLayout {
    0% {
        transform: translateY(20px);
        background-color: transparent;
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        background-color: inherit;
        filter: blur(0px);
        opacity: 1;
    }
}