<div class="base-frame">
  <div class="content welcome-page">
    <app-welcome class="pos-left-up"></app-welcome>
    <app-avatar-animated>
      <app-avatar></app-avatar>
    </app-avatar-animated>
    <a href="#skills">
      <app-arrow-down></app-arrow-down>
    </a>
  </div>
  <div id="skills" class="content skill-page">
    <p class="headline">MY Skills</p>
    <app-skill-cards class="cards-frame"></app-skill-cards>
  </div>
  <div id="projects" class="content project-page">
    <p class="headline">MY Projects</p>
    <app-skill-switch></app-skill-switch>
    <app-project-cards class="projects-frame"></app-project-cards>
  </div>
  <div id="about" class="content about-page">
    <p class="headline">About me.</p>
    <div class="section">
      <app-avatar-static>
        <app-avatar></app-avatar>
      </app-avatar-static>
      <p class="text-normal"><q> I am an avid photographer and software developer.<br>Developing customer-oriented
          solutions
          is my preference. </q></p>
    </div>
    <app-story-cards class="story-frame"></app-story-cards>
  </div>
  <div id="contact" class="content contact-page">
    <p class="headline">Contact me.</p>
    <app-contact-page></app-contact-page>
  </div>
</div>