<div class="base-frame imprint">
    <div>
    <h2 translate>Legal Notice</h2>
    <p translate>Angaben gemäß § 5 TMG</p>
    <p>
        Andreas Komor<br>
        Am Mühlfeldchen 4a<br>
        63110 Rodgau <br>
        <span translate>Germany</span><br>
    </p>
    <p><strong translate>Contact:</strong> <br>
        <span translate>mobile: 0049 159 01831822</span><br>
        E-Mail: <a href='mailto:e-text@online.de'>e-text@online.de</a></p>
    <br><br>
    <p><strong translate>Haftungsausschluss: </strong><br><br><strong translate>Datenschutz</strong><br><br>
    <p translate>Die Nutzung meiner Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf meinen
        Seiten
        personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit
        möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte
        weitergegeben.</p> <br>
    <p translate>Ich weise darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.
    </p>
    <br>
    <p translate>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
        nicht
        ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Der
        Betreiber der Seiten behält sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
        Werbeinformationen, etwa durch Spam-Mails, vor.
    </p><br>
    <span>Impressum vom </span>
     <a href="https://www.impressum-generator.de">Impressum Generator</a> <span translate>from</span> <a
        href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" rel="nofollow">Kanzlei Hasselbach, Frankfurt</a>
    </div>
</div>