/* colors */
$c1: rgb(45, 252, 216);
$c2: rgb(250, 40, 89);
$c1_l: rgb(216, 255, 248);
$c1_h: rgb(1, 198, 162);

//properties
$bdr: 5px;
$header-height: 10vh; //90px;
$base-padding: 10%;  //120px
$head-radius: 60px;