@use 'src/variables' as v;
@use 'src/mixins' as m;

.overlay {
    @include m.d-flex(row, center, center);
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 3s ease;

    .message {
        @include m.d-flex(row, center, center);
        min-height: 100px;
        min-width: 200px;
        padding: 10px 20px;
        border: solid 1px v.$c1;
        border-radius: v.$bdr;
        background-color: rgb(3, 78, 3);
    }
}

.show-message {
    z-index: 10;
    opacity: 1;
}