@use 'src/variables' as v;

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
        resize: none;
    }

    input, textarea {
        //width: 300px;
        margin-bottom: 10px; 
        color: white;
        background-color: rgba(56, 54, 54, 0.5);
        border: 1px solid transparent;
        border-radius: v.$bdr;
        padding: 10px 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
        font-family: inherit;
        transition: border-color 500ms ease-in-out;

        &:focus {
            outline: none;
            border-color: v.$c1;
        }

        &:disabled {
            color: rgba(255, 255, 255, 0.7);
            border-color: rgb(160, 160, 160);
            font-style: italic;
        }
    }

    label {
        margin: 15px 0 5px 0;
    }

    button {
        margin-top: 30px;
        padding: 5px 20px;
        border-radius: v.$bdr;
        appearance: none;
        background-color: transparent;
        border: 1px solid v.$c1;
        font-size: 20px;
        color: v.$c1;
        align-self: baseline;

        &:disabled {
            background-color: rgb(68, 108, 68);
        }
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: text-indent 1s 250ms ease-in;
        text-indent: -100%;
        opacity: 1;
    }
}